/datasets/
/empathetic-dialogue/sys_dialog_texts.dev.npy
/empathetic-dialogue/sys_dialog_texts.test.npy
/empathetic-dialogue/sys_dialog_texts.train.npy
/empathetic-dialogue/sys_emotion_texts.dev.npy
/empathetic-dialogue/sys_emotion_texts.test.npy
/empathetic-dialogue/sys_emotion_texts.train.npy
/empathetic-dialogue/sys_target_texts.dev.npy
/empathetic-dialogue/sys_target_texts.test.npy
/empathetic-dialogue/sys_target_texts.train.npy
/result/D_best.tar
/result/EmoPrepend_best.tar
/result/EmpDG_best.tar
/result/EmpDG_woD_best.tar
/result/EmpDG_woG_best.tar
/result/sem_D_best.tar
/result/Transformer_best.tar
/result/wo_D_best.tar
/save/
/vectors/glove.6B/
/vectors/glove.6B.300d.txt
/vectors/glove.6B.zip
